.choose__title {
	margin-bottom: 130px;
}
.choose__content {
	display: flex;
	flex-wrap: wrap;
}
.choose__card {
	flex-basis: calc(100% / 2);
	padding: 0 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.choose__card-wrap {
	display: flex;
	align-items: center;
	padding: 60px 40px;
	border-radius: 15px;
	transition: all 0.3s ease;
}
@media (min-width: 576px) {
	.choose__card-wrap:hover {
		background: linear-gradient(90deg, #EC008C 0%, #FC6767 100%);
		transition: all 0.3s ease;
	}
}
.image-wrap {}
.choose__img {}
.choose__info {
	margin-left: 50px;
}
.info {}
.info__title {
	font-weight: 600;
	font-size: 18px;
	line-height: 27px;
	color: #FFFFFF;
}
.info__text {
	margin-top: 16px;
	max-width: 480px;
	font-weight: normal;
	font-size: 18px;
	line-height: 27px;
	color: #FFFFFF;
}


@media (max-width: 1500px) {
	.choose__card {
		padding: 0;
	}
}


@media (max-width: 1200px) {
	.choose__title {
		margin-bottom: 30px;
	}
	.choose__info {
		margin-left: 30px;
	}
}

@media (max-width: 992px) {
	.choose__content {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}
	.choose__info {
		margin-left: 30px;
	}
}


@media (max-width: 768px) {
	.choose__img {
		width: 60px;
	}
	.info__title {
		font-size: 18px;
		line-height: 27px;
	}
	.info__text {
		margin-top: 10px;
		font-size: 16px;
		line-height: 24px;
	}
	.choose__card-wrap {
		padding: 40px 0;
	}
}


@media (max-width: 576px) {
	.choose__card-wrap {
		padding: 30px 0;
	}
}