#team {
	position: relative;
	min-height: 740px;
	overflow: hidden;
	padding: 0;
}

.team {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.team-video {
	position: absolute;
	top: 0;
	left: 0;
	width: calc(100vw / 2);
	height: 100%;
	object-fit: cover;
}

.team-video-2 {
	top: 0;
	right: 0;
	left: auto;
	transform: scaleX(-1);
}

.video-2 {
	transform: scaleX(-1);
}

.team__content {
	margin-top: 64px;
}
.slider-wrapper {
	display: flex;
	justify-content: space-around;
}
.slider-card {
	text-align: center;
}
.slider-card__img img {
	width: 280px;
	height: 280px;
	border-radius: 50%;
}
.slider-card__title {
	margin-top: 33px;
	font-weight: 600;
	font-size: 18px;
	line-height: 27px;
	color: #FFFFFF;
}
.slider-card__text {
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	color: #FFFFFF;
}
.linkedin-icon {
	margin-top: 8px;
}


@media (max-width: 1500px) {

	#team {
		padding-bottom: 100px;
	}

	.slider-card__img img {
		width: 200px;
		height: 200px;
		border-radius: 50%;
	}

}



@media (max-width: 992px) {

	#team {
		padding-bottom: 30px;
	}

	.slider-wrapper {
		display: flex;
		flex-wrap: wrap;
	}

	.team__content {
		margin-top: 30px;
	}

	.slider-card__title {
		margin-top: 16px;
	}

	.slider-card {
		flex-basis: calc(100% / 2);
		margin-bottom: 50px;
	}

	.slider-card__img img {
		width: 200px;
		height: 200px;
		border-radius: 50%;
	}

	.slider-card__text {
		font-size: 16px;
		line-height: 24px;
	}

}


@media (max-width: 576px) {
	.slider-card {
		flex-basis: 100%;
	}
	#team {
		min-height: 1100px;
	}
}